API_V1_STR=/api/v1
PROJECT_NAME="UI TestGen Backend"

# OpenAI
OPENAI_API_KEY=sk-proj-...

# Gemini
GEMINI_API_KEY=AIza...

# Backblaze B2
B2_KEY_ID=
B2_KEY_NAME=
B2_APPLICATION_KEY=
B2_ENDPOINT=
B2_REGION=
B2_BUCKET_NAME=
B2_PRESIGNED_EXPIRES_SECONDS=3600

# Storage mode: local | b2 | auto
STORAGE_TYPE=b2
