API_V1_STR=/api/v1
PROJECT_NAME="UI TestGen Backend"

# Database
DATABASE_URL=mysql+mysqlconnector://user:password@localhost/db_name

# OpenAI
OPENAI_API_KEY=sk-proj-...

# Gemini
GEMINI_API_KEY=AIza...
